.navUl {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;

  background-color: #213547;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
